/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}



/* -----------Stili header-------------- */

.containerH{
    background-color: rgb(255, 123, 0);
    height: 50px; 
    width: 100%;
    position: fixed;
    z-index: 1;
    margin: 0px 0px 50px 0px;
}

.containerH .collU { 
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    right: 90%;
}

.containerH .collU:active {
    color: black;
  }

.containerH .collD { 
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    right: 80%;
}

.containerH .collD:active {
    color: black;
  }

.containerH .collB { 
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    right: 70%;
}

.containerH .collB:active {
    color: black;
  }

.containerH .logo {  
    right: 50%;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: fixed;
}

.logo img {
    width: 100px;
}
.containerH .IconUp{
    right: 10%;
    color: white;
    text-align: left;
    padding-top: 10px;
    position: fixed;
}


/* -----------Stili main-------------- */

.containerM {
    display: flex;
    flex-direction: row;
    align-content: start;
    flex-wrap:wrap;
    justify-content: center;
    padding-top: 100px;
}

.col {
    width: calc((100% / 3) - 10px);
    margin: 10px 5px;
    width: 500px;
}

/* ---------------------------- Gestione Hover IMMAGINE------------------------------------ */
.img_mag {
    position: relative;
}

.img_mag img {
    width: 100%;
}

.img_mag .main_image {
    display: inline-block;
}

.img_mag .sec_img {
    display: none;
}

.img_mag:hover .main_image{
    display: none;
}

.img_mag:hover .sec_img{
    display: inline-block;
}

/* ----------------------------------------- */

.img_mag .Textimg {
    position: relative;
    bottom: 50px;
    color: white;
    font-size: 15px;
}

.img_mag .label1T {
    position: absolute;
    left: 0;
    background-color: red;
}

.img_mag .label2T {
    position: absolute;
    left: 38px;
    background-color: green;
}


/* cuore */
.img_mag .fa-heart {
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: white;
    color: black;
    font-size: 30px;
    padding: 10px;
}

 .img_mag:hover .fa-heart {
    color: red;
} 

.col .ImgText {
    font-size: 15px;
}

.col .ImgText .number{
    color: red;
    display: inline;
}

.col .ImgText .pippo {
    display: inline;
}

/* -----------Stili footer-------------- */

.ContainerF {
    width: 100%;
    height: 70px;
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: space-around;
}

.ContainerF .logo {
    color: white;
    font-size: 25px;
    padding-top: 10px;
}

li {
    list-style-type:none;
}

li a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.ContainerF .info {

}